<link rel="stylesheet" type="text/css" href="bolw.css" media="all">
<head>
<title>Hist&ocaute;rico</title>
</head>
<body>

<form action="/historico" method="post">
	<div id="outer2">
	<button type="submit" name="action" value="NotES">Noticias ES</button>
	<button type="submit" name="action" value="NotEN">Noticias EN</button>
	<button type="submit" name="action" value="DocES">Documentos ES</button>
	<button type="submit" name="action" value="DocEN">Documentos EN</button>
	<button type="submit" name="action" value="EveES">Eventos ES</button>
	<button type="submit" name="action" value="EveEN">Eventos EN</button>
	<button type="submit" name="action" value="RefES">Reflexiones ES</button>
	<button type="submit" name="action" value="RefEN">Reflexiones EN</button>
	<button type="submit" name="action" value="Equ">Equipos</button>

    </div>
</form>


</body>
