<link rel="stylesheet" type="text/css" href="bolw.css" media="all">

<body>
<p class="indice"><a href="/nuevoboletin">Nuevo Bolet&iacute;n</a></p>
<p class="indice"><a href="/cargaboletin">Carga Bolet&iacute;n</a></p>
<p class="indice"><a href="/descargahtml">Descarga HTML</a></p>
<p class="indice"><a href="/descargaxml">Descarga XML</a></p>
<p class="indice"><a href="/upload">Sube XML</a></p>
</div>
</body>
